body { padding-top: 70px; }

.btn-separation-left {
	margin-left:5px;
}

.button-row {
	padding-top: 10px;
	padding-bottom: 10px;
}

input.ng-invalid {
	border: rgba(215, 44, 44, 0.6) solid 1px;
}

body {
	
	background-repeat: no-repeat;
	background-size: cover;
	/*padding-top: 16%;*/

}
#screen-one {
	background: url("../img/fantasy/02 - g4y787q.jpg");
	position: absolute;
    top: 0;
    left: 0;
	height: 100%;
	 width: 100%;
	background-repeat: no-repeat;
	background-size: cover;
  }
.list-group {
	padding-left: 0;
  	margin-bottom: 20px;
  	overflow: auto;
  	max-height: 214px;
  }
section#screen-two {
    background: url("../img/fantasy/intro-2.jpg");
    position: absolute;
    top: 51px;
    left: 0;
	height: 100%;
	width: 100%;
	background-repeat: no-repeat;
	background-size: cover;
}
section#screen-three {
    background: url("../img/fantasy/population.jpg");
    position: absolute;
    top: 51px;
    left: 0;
	height: 100%;
	width: 100%;
	background-repeat: no-repeat;
	background-size: cover;
}
.ags_bintro {
    position: relative;
    top: 93%;
}
.ags__name-left {
	float: left !important;
}

.profile_population {
	float: left;
	background: #ffffff;
}