body { padding-top: 70px; }

.btn-separation-left {
	margin-left:5px;
}

.block-title {
	padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 0;
    padding-right: 0;
    background: black;
    text-align: center;
}

input.ng-invalid {
	border: rgba(215, 44, 44, 0.6) solid 1px;
}

body {
	
	background-repeat: no-repeat;
	background-size: cover;
	/*padding-top: 16%;*/

}
#screen-one {
	background: url("../img/fantasy/02 - g4y787q.jpg");
	position: absolute;
    top: 0;
    left: 0;
	height: 100%;
	 width: 100%;
	background-repeat: no-repeat;
	background-size: cover;
  }
.list-group {
	padding-left: 0;
  	margin-bottom: 20px;
  	overflow: auto;
  	max-height: 214px;
  }
section#screen-two {
    background: url(../img/fantasy/intro-2.jpg);
    position: fixed;
    top: 51px;
    left: 0;
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 228px;
    padding-left: 96px;
    padding-right: 365px;
    padding-top: 308px;
}

@media (max-width: 768px) {
    section#screen-two {
        padding-right: 0px;
    	padding-left: 34px;
    }
}
section#screen-three {
    background: url("../img/fantasy/population.jpg");
    position: absolute;
    top: 51px;
    left: 0;
	height: 100%;
	width: 100%;
	background-repeat: no-repeat;
	background-size: cover;
}
@media (max-width: 768px) {
    section#screen-three {
        height: inherit;
    }
}
.ags_bintro, .ags_bintro:active {
    position: absolute;
    top: 93%;
    border: 0;
    background: black;
}
.ags_bintro {
    background: inherit;
}
.ags__name-left {
	float: left !important;
    border-bottom: 1px solid #2a6496;
    margin-left: 20px;
    line-height: 2.5em;
	background: #ffffff;
}

.profile_population {
	float: left;
    background: transparent;
    padding: 25px;
    border: 2px solid #ffffff;
}

.profile_population-gnome {
	font-size: 15px;
    color: #2a6496;
	font-weight: bold;
}
img.ags__name-left {
    border: 1px solid #ffffff;
	padding: 0;
}
.profile_population-blockgnome {
	float: left;
}
.profile__population-goout {
	clear: both;
    border-color: #4cae4c;
    float: right;
    margin-top: 12px;
    top: 0;
    position: absolute;
    left: 92%;
    z-index: 1111;
    text-align: right;
}
@media (max-width: 768px) {
    .profile__population-goout {
    	left: 76%;
    }
}
.profile__population-goouttext {
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	margin-left: 12px;
}
.ags__name-point:after {
    content: ",";
}
.ags__name-point:last-child:after { 
     content: "" !important;
}
.ags__blockstory {
    float: left;
    position: relative;
    color: white;
    padding-left: 64px;
    font-size: 28px;
    top: 100px;
}
@media (max-width: 768px) {
    .ags__blockstory{
    	padding-left: inherit;
    }
}
.navbar-brand a {
	font-size: 30px !important;
}
.ags__botton-tpopulation {
	background: #000000;
	color: #ffffff;
}
.ags__blockstory-two {
	position: absolute;
    color: white;
    font-size: 28px;
    top: 100px;
    left: 80px;
}