body { padding-top: 70px; }

.btn-separation-left {
	margin-left:5px;
}

.button-row {
	padding-top: 10px;
	padding-bottom: 10px;
}

input.ng-invalid {
	border: rgba(215, 44, 44, 0.6) solid 1px;
}

body {
	background: url("../img/fantasy/02 - g4y787q.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	padding-top: 16%;

}
.list-group {
	padding-left: 0;
  	margin-bottom: 20px;
  	overflow: auto;
  	max-height: 214px;
  }