<a href="#/" class="profile__population-goout">
  <p class="glyphicon glyphicon-log-out
"><span class="profile__population-goouttext">Go out</span></p>
</a>

<section id="screen-two" class="col-xs-12 img-responsive">


  <div>
    <span class="col-xs-10 col-sm-8 ags__botton-tpopulation">Total population of Brastlewark</span>
  </div>

  <div class="row">
    <div class="col-xs-10 col-sm-8 ags__block-paddingr">
      <ul class="list-group">
        <li class="list-group-item text-center" ng-repeat="expense in declaration">
          <zva-expense></zva-expense>
        </li>
      </ul>
    </div>
  </div>
</section>

<div class="col-xs-8 col-md-5 ags__blockstory-two">
  <p>Brastlewark town.</p> <span>Now I want to meet the population...</span>
</div>