<a href="#" class="profile__population-goout">
  <p class="glyphicon glyphicon-log-out
"><span class="profile__population-goouttext">Go out</span></p>
</a>

<section id="screen-two" class="col-xs-12">

  <div>
    <div class="button-row">
      <span class="btn btn-lg btn-block ags__botton-tpopulation">Total population of Brastlewark</span>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <ul class="list-group">
        <li class="list-group-item text-center" ng-repeat="expense in expenses">
          <zva-expense></zva-expense>
        </li>
      </ul>
    </div>
  </div>
</section>

<div class="col-md-8 col-md-4 ags__blockstory">
  <p>Brastlewark road.</p> <span>Our beloved hero looks for the town to contact the  local population.</span>
</div>