<a href="#" class="profile__population-goout"><p class="glyphicon glyphicon-log-out
"><span class="profile__population-goouttext">Go out</span></p></a>

<section id="screen-three" class="col-xs-12">
    <div class="button-row">
        <a href="#expenses/new" class="btn btn-success btn-lg btn-block">Profile population</a>
    </div>

    <section class="profile_population col-xs-12">

        <img src="{{expense.thumbnail}}" alt="" height="192" width="192" class="img-responsive row col-xs-12 col-md-3 ags__name-left">
        <div class="col-xs-8 profile_population-blockgnome">
            <span class="col-xs-12 pull-left ags__name-left"><span class="profile_population-gnome">Name: </span>{{expense.name}}</span>
            <span class="col-xs-12 pull-left ags__name-left"><span class="profile_population-gnome">Age: </span>{{expense.age}}</span>
            <span class="col-xs-12 pull-left ags__name-left"><span class="profile_population-gnome">Weight: </span>{{expense.weight}}</span>
            <span class="col-xs-12 pull-left ags__name-left"><span class="profile_population-gnome">Height: </span>{{expense.height}}</span>
            <span class="col-xs-12 pull-left ags__name-left"><span class="profile_population-gnome">Hair color: </span>{{expense.hair_color}}</span>
            <span class="col-xs-12 pull-left ags__name-left"><span class="profile_population-gnome">Professions: </span>
            <span ng-repeat="profession in expense.professions"> {{profession}}</span></span>
            <span class="col-xs-12 pull-left ags__name-left"><span class="profile_population-gnome">Friends: </span>{{expense.friends}}</span>
        </div>
    </section>


    </div>